<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular Training</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="login">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="product-list">Product List<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="cart">Cart <span class="fa fa-cart-plus"></span></a>
      <a class="nav-item nav-link" routerLink="login">Login<span class="fa fa-login"></span></a>
      <a class="nav-item nav-link" routerLink="signup">Signup <span class="fa fa-user"></span></a>
      <!-- <a class="nav-item nav-link" href="#">Welcome Cards</a>
      <a class="nav-item nav-link" href="#">Congratulation Cards</a>
      <a class="nav-item nav-link" href="#">B'day Cards</a> -->
    </div>
  </div>
</nav>