<div class="container" style="margin: 50px;">
    <div class="row">
        <div class="col-8">
            <img src="#" alt="image">
            <label>Name</label>
            <!-- <img src="{{cart.image}}" alt="image"/> -->
            <!-- <label>{{cart.name}}</label>
            <label>{{cart.price}}</label> -->
        </div>
        <div class="col-4">
            <button type="button" class="btn btn-danger">Remove</button>
        </div>

    </div>
    <div class="row">
        <div class="col-9">
            Total Price: {{'100'}}
        </div>
        <div class="col-3">
            <button type="button" (click)="checkout()" class="btn btn-success">Checkout</button>
        </div>
    </div>

</div>